<div class = "container">
   <div class = "row">
      <div class = "col-12">
         <h1 class = "text-center m-5 ">Adout</h1>
      </div>
      <div class = "col-12">
         <h5 class = "text-center">
            観劇の思い出をここに残しましょう。<br/>
            見に行ってみたい劇団、役者<br/>
            きっと見つかります！<br/>
            そんなコミュニティサイトです。
         </h5>
      </div>
   </div>
</div>