<div class = "container">
   <div class = "row">
      <div class = "col-12">
         <h1 class = "text-center m-5 ">大衆演劇コミュニティ</h1>
      </div>
      <div class = "col-12">
         <h5 class = "text-center">
            管理者サイト
         </h5>
      </div>
   </div>
</div>